.App {
  display: flex;
  flex-direction: column;
  justify-content:center ;
  align-items: center;
}

.input-box{
  display:flex;
  flex-direction: column;
  margin-top: 5%;
  width: 50%;
}
.input-box input{
  padding: 2%;
}
.text-box{
  margin-top: 5%;
  width: 80%;
  
}
.copyme{
  width: 100px;
  height: 45px;
  background-color: cornflowerblue;
  color: white;
  transition:  transform .2s;
  cursor: pointer;
}
.copyme:hover{
  transform: scale(1.04)
}